@import '_variables';
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid $gray1-color;
}
.footer {
    padding-top: 19px;
    color: $gray2-color;
    border-top: 1px solid $gray1-color;
}
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.jumbotron {
    margin-top: 25px;
    margin-bottom: 20px;
    padding-right: 15px !important;
    padding-left: 15px !important;
    padding-top: 15px;
    padding-bottom: 1px;
    min-height: 400px;
}
.list-group-item > .badge {
    float: left;
    margin-right: 12px;
    color: $white-color;
    background-color: $green1-color;
    border-color: $green2-color;
}